table tr {
    text-align: center;
}

select {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    background-color: rgb(63, 121, 122, 0.5);
}

input[type=submit] {
    background: #00B5B8;
    color: #fff;
    display: block;
    padding: 7px 12px;
    border-radius: 2px;
    border: 1px solid transparent;
}

.table th,
.table td {
    vertical-align: middle !important;
}


/* //datatable */

input .f_search {
    width: 100px;
}